<ion-view view-title="Agregar contacto">
  <ion-content class="padding">
    
    <label class="item item-input">
      <span class="input-label">Nombre</span>
      <input type="text">
   </label>
   
   <label class="item item-input">
     <span class="input-label">Apellido</span>
     <input type="text">
   </label>
   
   <label class="item item-input">
     <span class="input-label">Telefono</span>
     <input type="tel">
   </label>
   
   <label class="item item-input">
     <span class="input-label">Email</span>
     <input type="email">
   </label>
   
   <button class="button button-positive" ng-click="showAlert()">
   Guardar
   </button>
  </ion-content>
</ion-view>
